/* You can add global styles to this file, and also import other style files */
.header-title, .card-header, .card-title {
    font-family: 'Modak', cursive;
    font-size: 30px;
}

.text-decoration-underline {
    text-decoration-line: underline;
}

.ngb-highlight {
    background-color: yellow !important;
  }